body {
  margin: 0;
}

html {
  background-color: #282c34;
}

.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
} */

.App-header, .App-main {
  display: flex;
  flex-direction: row;
  /* align-items: center;
  justify-content: center; */
  color: white;
}

.App-header {
  /* height: 20vh; */
}

.App-main {
  /* height: 80vh; */
  vertical-align: baseline;
  justify-content: space-between;
}

.choixCandidat, .tweets, .graphe {
  width: 30%;
}

.choixCandidat {
  font-size: calc(10px + 1vmin);
  text-align: left;
}

.candidats .candidat {
  display: flex;
  cursor: pointer;
  background-color: #1d9bf0;
  border-radius: 15px;
  margin-bottom: 20px;
  align-items: top;
}

.candidat > span {
  margin: 5px 0 0 20px;
}

.tweets {
  font-size: calc(5px + 1vmin);
}

.App-link {
  color: #61dafb;
}

.MuiFormLabel-root, input  {
  color: white!important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: white!important;
}

.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #61dafb!important;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.fleche {
  margin-left: 10px;
  cursor: pointer;
}

.fleche::after {
  content: '';
  transform: rotateZ(45deg);
  border-bottom: #fff solid 2px;
  border-right: #fff solid 2px;
  display: inline-block;
  width: 10px;
  height: 10px;
}



